{% extends "base.html" %}

{% block variables %}
    <input type="text" style="display: none" id="artist" name="artist" value="{{ artist }}" hidden/>
    <input type="text" style="display: none" id="album" name="album" value="{{ album }}" hidden/>
    <input type="text" style="display: none" id="user" name="user" value="{{ request.session.USERR }}" hidden/>
{% endblock %}

{% block stylesheet %}
    <style>
        tbody{
            font-family: "montserrat-light", sans-serif;
        }
        .hoover:hover{
            color: #FFFFFF;
            cursor: pointer;
        }
        .hoover{
            font-size: 1.8em;
        }
        .marginn{
            margin-top: 1.0em;
            margin-bottom: 1.0em;
        }

        tbody tr:hover {
            -moz-box-shadow: 0 4px 2px 3px rgba(0, 0, 0, 0.5) ;
            -webkit-box-shadow: 0 4px 2px 3px rgba(0, 0, 0, 0.5) ;
            box-shadow: 0 4px 2px 3px rgba(0, 0, 0, 0.5);

            background-color: #EFC20B;
            color: #EA011E;

        }

        td, th{
            border-bottom: 0;
        }


        tr th{
            color: #44CAA8;
        }

        .add{
            cursor: pointer;
            text-align: center;
            {% if request.session.TYPE != 1 %}
                display: none;
            {% endif %}
        }

        .add:hover{
            background-color: #0B14B0;
            color: #FFF;
            text-align: center;
        }

        .dropbtn {
          background-color: transparent;
          color: white;
          padding: 0;
          font-size: 16px;
          border: none;
          cursor: pointer;
            height: 1.0rem;
        line-height: 0;
        }

        .dropbtn:hover, .dropbtn:focus {
          background-color: #EFC20B;
        }

        .dropdown {
          position: relative;
          display: inline-block;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          overflow: auto;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }

        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        .dropdown a:hover {background-color: #ddd;}

        .show {display: block;}
    </style>
{% endblock %}

{% block title %}
    {{ name }}
{% endblock %}

{% block titleinside %}
    {{ name }}
{% endblock %}

{% block navbar %}
    <li><a class=""  href="./artists" title="Artists">Artists</a></li>
    <li><a class=""  href="./albums" title="competitions">Albums</a></li>
    <li><a class=""  href="./matches" title="matches">Songs</a></li>
    <li><a class=""  href="./myplaylists" title="matches">Playlists</a></li>
    <li><a class=""  href="./players" title="players">Find</a></li>
    <li><a class="" href="./profile" title="profile">{{ request.session.NAME }}</a></li>
                        <li><a class="" href="./LogOut" title="LogOut">Log Out</a></li>
{% endblock %}

{% block content %}
<div class="row" style="width: 100%;">
    <div class="col-md-5">
        <img src="{{ photo }}" alt=""/>
        <h3>Realsed: {{ realsedate }} <br/>
            Gender: {{ gender }}
        </h3>
        {% if request.session.TYPE == 1 %}
            <input type="button" onclick="delAlbum()" id="delBtn" name="delBtn" value="Delete" class="btn--primary">
        {% endif %}
    </div>
    <div class="col-md-7">
        <table id="songs" name="songs">
            <thead>
                <tr>
                    <th width="10%">#</th>
                    <th width="70%">TITLE</th>
                    <th width="10%"></th>
                    <th width="10%"></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block controls %}

{% endblock %}


{% block javascript %}
<script src="../static/js/templates/album.js"></script>
{% endblock %}