{% extends "base.html" %}

{% block variables %}
    <input type="text" style="display: none" id="artist" name="artist" value="{{ artist }}" hidden/>
{% endblock %}

{% block stylesheet %}
    <style>
        .hoover:hover{
            color: #FFFFFF;
            cursor: pointer;
        }
        .hoover{
            font-size: 1.8em;
        }
        .marginn{
            margin-top: 1.0em;
            margin-bottom: 1.0em;
        }
    </style>
{% endblock %}

{% block title %}
    {{ name }}
{% endblock %}

{% block titleinside %}
    {{ name }}
{% endblock %}

{% block navbar %}
<li><a class=""  href="./artists" title="Artists">Artists</a></li>
<li><a class=""  href="./albums" title="competitions">Albums</a></li>
<li><a class=""  href="./matches" title="matches">Songs</a></li>
<li><a class=""  href="./myplaylists" title="matches">Playlists</a></li>
<li><a class=""  href="./players" title="players">Find</a></li>
    <li><a class="" href="./profile" title="profile">{{ request.session.NAME }}</a></li>
                        <li><a class="" href="./LogOut" title="LogOut">Log Out</a></li>
{% endblock %}


{% block content %}
<div class="row" style="width: 100%;">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <img src="{{ photo }}" alt=""/>
        {% if request.session.TYPE == 2 %}
            {% if aver == 0 %}
                <input type="button" onclick="followArtist()" id="followBtn" name="followBtn" value="Follow" class="btn--primary">
            {% else %}
                <input type="button" onclick="unFollowArtist()" id="unFollowBtn" name="unFollowBtn" value="UnFollow" class="btn--primary">
            {% endif %}
        {% endif %}
    </div>
    <div class="col-md-5">
        <h2 class="marginn">Birthdate:</h2>
        <h2 class="marginn" style="color: #ffffff">{{ birthdate }}</h2>
        <h2 class="marginn">Country:</h2>
        <h2 class="marginn" style="color: #ffffff">{{ country }}</h2>
        {% if request.session.TYPE == 1 %}
            <input type="button" onclick="delArtist()" id="delBtn" name="delBtn" value="Delete" class="btn--primary">
        {% endif %}
    </div>
    <div class="col-md-1"></div>
</div>

    <div class="row" style="text-align: center">
        <h2>Albums</h2>
    </div>

        <div class="row" style="padding-top: auto; color: #EA011E">
        <div class="col-md-4"></div>
        <div class="col-md-1">
            <i id="prev_control" class="fa fa-fast-backward hoover"></i>
        </div>
            <div class="col-md-2">
                <label id="pageno" style="text-align: center; color: #EA011E; font-size: 1.3em;"></label>
            </div>
        <div class="col-md-1">
            <i id="next_control" class="fa fa-fast-forward hoover"></i>
        </div>
        <div class="col-md-4"></div>
    </div>

<div id="categories" class="container">

</div>
{% endblock %}

{% block controls %}

{% endblock %}


{% block javascript %}
<script src="../static/js/templates/artist.js"></script>
{% endblock %}