{% extends "base.html" %}

{% block stylesheet %}
    <style>
        .hoover:hover{
            color: #FFFFFF;
            cursor: pointer;
        }
        .hoover{
            font-size: 1.8em;
        }
    </style>
{% endblock %}

{% block title %}
Artists
{% endblock %}

{% block titleinside %}
    Artists
        <div class="row" style="padding-top: auto">
        <div class="col-md-4"></div>
        <div class="col-md-1">
            <i id="prev_control" class="fa fa-fast-backward hoover"></i>
        </div>
            <div class="col-md-2">
                <label id="pageno" style="text-align: center; color: #EFC20B; font-size: 1.3em;"></label>
            </div>
        <div class="col-md-1">
            <i id="next_control" class="fa fa-fast-forward hoover"></i>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}

{% block navbar %}
<li><a class="activeNavItem"  href="./artists" title="Artists">Artists</a></li>
<li><a class=""  href="./albums" title="competitions">Albums</a></li>
<li><a class=""  href="./matches" title="matches">Songs</a></li>
<li><a class=""  href="./myplaylists" title="matches">Playlists</a></li>
<li><a class=""  href="./players" title="players">Find</a></li>
    <li><a class="" href="./profile" title="profile">{{ request.session.NAME }}</a></li>
                        <li><a class="" href="./LogOut" title="LogOut">Log Out</a></li>
{% endblock %}

{% block content %}

<div id="categories" class="container">

</div>

{% endblock %}

{% block controls %}

{% endblock %}


{% block javascript %}
<script src="../static/js/templates/artists.js"></script>
{% endblock %}
