{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>U M U S I C - {% block title %} {% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static "css/grid2.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/vendor.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/zoomImage.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome/css/font-awesome.css" %}">

    {% block stylesheet %}{% endblock %}


    <!-- script
    ================================================== -->
    <script src="{% static "js/modernizr.js" %}"></script>
    <script src="{% static "js/pace.min.js" %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

      <div class="header-logo">
          <a class="site-logo" href="./">
              <h3 style="color: white;">  <img style="max-height: 50px;" src="{% static "images/wave.png" %}" alt="Homepage"> U <span style="padding-left: 0.2em;">  M U S I C </span> </h3>
          </a>
      </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>Navigation</h3>

                <ul class="header-nav__list">
                    <li class="current"><a class=""  href="./" title="home">Home</a></li>
                    {% block navbar %}
                    {% endblock %}
                    {%  if 'TYPE' in request.session and request.session.TYPE == 1 %}
                        <li class="current"><a class=""  href="./" title="home">Usuarios</a></li>
                    {% endif %}
                </ul>

                <p>Don't miss any play, goal or stop. Create your account now.
                </p>

                <ul class="header-nav__social">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->




    <main>
      <section id="contact" class="s-contact">
          {% block variables %}
          {% endblock %}

          <div class="overlay"></div>
          <div class="contact__line"></div>

          <div class="row section-header" data-aos="fade-up">
              <div class="col-full">
                  <h3 class="subhead">{% block titleinside %} {% endblock %}</h3>
              </div>
          </div>

          <div class="row contact-content" data-aos="fade-up">

              <div class="contact-primary">
                {% block content %}
                {% endblock %}

                {% block controls %}
                {% endblock %}
                <!-- contact-warning -->
                <div class="message-warning">
                    {% block warningContent %}
                    {% endblock %}
                </div>

                <!-- contact-success -->
                <div class="message-success">
                    {% block successContent %}
                    {% endblock %}
                    <br>
                </div>

              </div> <!-- end contact-primary -->

              </div>

          </div> <!-- end contact-content -->
      </section> <!-- end s-contact -->
    </main>










    <!-- footer
    ================================================== -->
     <footer>

        <div class="row footer-main">

            <div class="col-six tab-full left footer-desc">

              <h3 style="color: #0F0F0F;">  <img style="max-height: 50px;" src="{% static "images/wave.png" %}" alt="Homepage"> U   M U S I C</h3>
              Behind every memorable moment is a good song, and behind every good playlist are us.
            </div>

        </div> <!-- end footer-main -->

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright U Music 2019</span>
                    <span><a href="https://www.colorlib.com/">flores8.ko</a></span>
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/utils.js" %}"></script>
    {% block javascript %}{% endblock %}

</body>

</html>
