{% extends "base.html" %}

{% block title %}
Edit Profile
{% endblock %}

{% block titleinside %}
Edit Profile
{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}

    <form name="contactForm" style="width: 80%; padding-left: 30%;" id="contactForm" method="post" action="" novalidate="novalidate">
        {%csrf_token%}
        <fieldset>

        <div class="form-field">
            <input name="contactName" type="text" id="contactName" placeholder="Your Name" value="{{ name }}" minlength="2" required="" aria-required="true" class="full-width">
        </div>

        <div class="form-field">
            <input name="contactLastName" type="text" id="contactLastName" placeholder="Your Last Name" value="{{ lastname }}" minlength="2" required="" aria-required="true" class="full-width">
        </div>

        <div class="form-field">
            <input name="contactPassword" type="password" id="contactPassword" placeholder="Your Password" value="" minlength="2" required="" aria-required="true" class="full-width">
        </div>

        <div class="form-field">
            <input name="contactPhoneNumber" type="text" id="contactPhoneNumber" placeholder="Your Phone Number" value="{{ phone }}" minlength="2" required="" aria-required="true" class="full-width">
        </div>

        <div class="form-field">
            <input name="contactAdress" type="text" id="contactAdress" placeholder="Your Adress" value="{{ adress }}" minlength="2" required="" aria-required="true" class="full-width">
        </div>

        <label>Your Photo</label>
        <div class="form-field">
            <input type="text" id="prevPhoto" name="prevPhoto" value="{{ photo }}" hidden />
            <input name="contactPhoto" type="file" id="contactPhoto" placeholder="Your Photo" value="" minlength="2" required="" aria-required="true" class="full-width">
        </div>

        <div class="form-field">
            <input type="button" id="btnRegister" name="btnRegister" class="full-width btn--primary" value="update">
            <div class="submit-loader">
                <div class="text-loader">Sending...</div>
                <div class="s-loader">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>

        </fieldset>
    </form>

{% endblock %}

{% block javascript %}
<script src="../static/js/templates/editProfile.js"></script>
{% endblock %}
