{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>U M U S I C</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/vendor.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">

    <!-- script
    ================================================== -->
    <script src="{% static "js/modernizr.js" %}"></script>
    <script src="{% static "js/pace.min.js" %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static "images/wave.png" %}" type="image/x-icon">
    <link rel="icon" href="{% static "images/wave.png" %}" type="image/x-icon">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="/SoccerStats/">
                <h3 style="color: white;">  <img style="max-height: 50px;" src="{% static "images/wave.png" %}" alt="Homepage"> U <span style="padding-left: 0.2em;">  M U S I C </span> </h3>
            </a>
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>Navigation</h3>

                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                    <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
                    {% if not 'TYPE' in request.session %}
                        <li><a class="smoothscroll"  href="#contact" title="contact">LogIn</a></li>
                    {% else %}
                        <li><a href="./artists" title="Artists">Artists</a></li>
                        <li><a href="./albums" title="works">Albums</a></li>
                        <li><a class="smoothscroll"  href="#clients" title="clients">Songs</a></li>
                        <li><a class=""  href="./myplaylists" title="matches">Playlists</a></li>
                        <li><a class=""  href="./players" title="players">Find</a></li>
                        <li><a class="" href="./profile" title="profile">{{ request.session.NAME }}</a></li>
                        <li><a class="" href="./LogOut" title="LogOut">Log Out</a></li>
                        {%  if 'TYPE' in request.session and request.session.TYPE == 1 %}
                            <li class="current"><a class=""  href="./" title="home">Usuarios</a></li>
                        {% endif %}
                    {% endif %}

                </ul>

                <p>Don't miss any play, goal or stop. Create your account now.</p>

                <ul class="header-nav__social">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static "images/001.webp" %}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>Welcome to U M U S I C</h3>

                <h1>
                    The music is not  <br>
                    in the notes, but <br>
                    in the silence between.
                </h1>

                <div class="home-content__buttons">
                    <a href="#contact" class="smoothscroll btn btn--stroke">
                        Log In
                    </a>
                    <a href="#about" class="smoothscroll btn btn--stroke">
                        More About Us
                    </a>
                </div>

            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div> <!-- end home-content -->


        <ul class="home-social">
            <li>
                <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a>
            </li>
            <li>
                <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twiiter</span></a>
            </li>
            <li>
                <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
            </li>
        </ul>
        <!-- end home-social -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--dark">We Are</h3>
                <h1 class="display-1 display-1--light">U </span><span style="padding-left: 0.5em;">M U S I C</span></h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row about-desc" data-aos="fade-up">
            <div class="col-full">
                <p>
                  The only company that takes you every song and album.
                    Everything you need from your favorite artists and bands is in one place,
                    for only 15Q monthly, unlimited access to all the music of each artist or band,
                    unique playlists without commercials and best of all, it is without contract.
                </p>
            </div>
        </div> <!-- end about-desc -->

        <div class="row about-stats stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">

            <div class="col-block stats__col ">
                <div class="stats__count">{{ members }}</div>
                <h5>Members</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">{{ albums }}</div>
                <h5>Albums</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">{{ songs }}</div>
                <h5>Songs</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">{{ artists }}</div>
                <h5>Artists</h5>
            </div>

        </div> <!-- end about-stats -->

        <div class="about__line"></div>

    </section> <!-- end s-about -->


    <!-- works
    ================================================== -->



    <!-- contact
    ================================================== -->
    {% if not 'TYPE' in request.session %}
    <section id="contact" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Log In</h3>
                <h1 class="display-2 display-2--light">Start discovering all the music.</h1>
            </div>
        </div>

        <div class="row contact-content" data-aos="fade-up">

            <div class="contact-primary">


                <form name="contactForm" style="width: 74%; padding-left: 23%;" id="contactForm" method="post" action="" novalidate="novalidate">
                    <fieldset>

                    <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="Your Username" value="" minlength="2" required="" aria-required="true" class="full-width">
                        <div class="pswp__error-msg">
                            <label id="contactNameError">
                                Required
                            </label>
                        </div>
                    </div>
                    <div class="form-field">
                        <input name="contactEmail" type="password" id="contactEmail" placeholder="Your Password" value="" required="" aria-required="true" class="full-width">
                         <div class="pswp__error-msg">
                            <label id="contactMailError">
                                Required
                            </label>
                        </div>
                    </div>

                    <div class="form-field">
                        <input class="full-width btn--primary" type="button" name="btnSend" id="btnSend" placeholder="Send my Information" value="Start"/>
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                        <div class="pswp__error-msg">
                            <label id="psswdError">
                                Password Error
                            </label>
                        </div>
                        <a href="./register" target="_blank">Register</a>
                    </div>

                    </fieldset>
                </form>

            </div> <!-- end contact-primary -->

        </div> <!-- end contact-content -->

    </section> <!-- end s-contact -->
    {% endif %}

    <!-- footer
    ================================================== -->
    <footer>

        <div class="row footer-main">

            <div class="col-six tab-full left footer-desc">

              <h3 style="color: #0F0F0F;">  <img style="max-height: 50px;" src="{% static "images/wave.png" %}" alt="Homepage"> U   M U S I C</h3>
             Behind every memorable moment is a good song, and behind every good playlist are us.
           </div>

        </div> <!-- end footer-main -->

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright U Music 2019</span>
                    <span><a href="https://www.colorlib.com/">flores8.ko</a></span>
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/templates/index.js" %}"></script>

</body>

</html>
