{% extends "base.html" %}

{% block variables %}

{% endblock %}

{% block stylesheet %}
    <style>
        .hoover:hover{
            color: #FFFFFF;
            cursor: pointer;
        }
        .hoover{
            font-size: 1.8em;
        }
        .marginn{
            margin-top: 1.0em;
            margin-bottom: 1.0em;
        }

        input[type="text"]{
            width: 100%;
        }
        input[type="text"]::placeholder{
            color: #EFC20B;
        }

        .home-masonry-set .item article {
            opacity: 1;
            background-color: #0f0f0f;
        }

        .home-masonry-set > div:hover article {
            background-color: rgba(0, 0, 0, 0.2);
            opacity: 1;
        }

        .home-masonry-set > div:hover article h4{
            background-color: #0f0f0f;
        }

        .home-masonry-set > div:hover article h3{
            background-color: #0f0f0f;
        }

    </style>
{% endblock %}

{% block title %}
    Playlists
{% endblock %}

{% block titleinside %}
    Playlists
{% endblock %}

{% block navbar %}
<li><a class=""  href="./artists" title="Artists">Artists</a></li>
<li><a class=""  href="./albums" title="competitions">Albums</a></li>
<li><a class=""  href="./matches" title="matches">Songs</a></li>
<li><a class="activeNavItem"  href="./myplaylists" title="matches">Playlists</a></li>
<li><a class=""  href="./players" title="players">Find</a></li>
    <li><a class="" href="./profile" title="profile">{{ request.session.NAME }}</a></li>
                        <li><a class="" href="./LogOut" title="LogOut">Log Out</a></li>
{% endblock %}

{% block content %}
    <form id="newPlaylist" name="newPlaylist">
        {%csrf_token%}
        <input type="text" style="display: none" id="user" name="user" value="{{ request.session.USERR }}" hidden/>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="form-field">
                    <input type="text"  id="namePlaylist" name="namePlaylist" value="" placeholder="New Playlist">
                    <div class="pswp__error-msg">
                        <label id="namePlaylistError">
                            Required
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <input type="button" class="full-width btn--primary" id="submitNewPlaylist" name="submitNewPlaylist" value="Create">
            </div>
            <div class="col-md-2"></div>
        </div>
    </form>
    <div class="row" style="text-align: center">
        <h2>My Playlists</h2>
    </div>

        <div class="row" style="padding-top: auto; color: #EA011E">
        <div class="col-md-4"></div>
        <div class="col-md-1">
            <i id="prev_control" class="fa fa-fast-backward hoover"></i>
        </div>
            <div class="col-md-2">
                <label id="pageno" style="text-align: center; color: #EA011E; font-size: 1.3em;"></label>
            </div>
        <div class="col-md-1">
            <i id="next_control" class="fa fa-fast-forward hoover"></i>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div id="categories" class="container">

    </div>


    <div class="row" style="text-align: center">
        <h2>Explore</h2>
    </div>

        <div class="row" style="padding-top: auto; color: #EA011E">
        <div class="col-md-4"></div>
        <div class="col-md-1">
            <i id="prev_control2" class="fa fa-fast-backward hoover"></i>
        </div>
            <div class="col-md-2">
                <label id="pageno2" style="text-align: center; color: #EA011E; font-size: 1.3em;"></label>
            </div>
        <div class="col-md-1">
            <i id="next_control2" class="fa fa-fast-forward hoover"></i>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div id="categories2" class="container">

    </div>
{% endblock %}

{% block javascript %}
<script src="../static/js/templates/myPlaylists.js"></script>
{% endblock %}