{% extends "base.html" %}

{% block title %}
New Coach
{% endblock %}

{% block titleinside %}
New Coach
{% endblock %}

{% block navbar %}
<li><a class=""  href="./coaches" title="coaches">Coaches</a></li>
{% endblock %}

{% block content %}
  <form name="contactForm" style="width: 80%; padding-left: 30%;" id="contactForm" method="post" action="" novalidate="novalidate" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>

      <div class="form-field">
        <input type="text" id="coachName" name="coachName" placeholder="Coach's Name" value="" minlength="2" required="" aria-required="true" class="full-width"/>
      </div>

      <div class="form-field">
        <input type="text" id="coachLastName" name="coachLastName" placeholder="Coach's Last Name" value="" minlength="2" required="" aria-required="true" class="full-width"/>
      </div>

      <div class="form-field">
        <input type="date" id="coachBirth" name="coachBirth" placeholder="Coach's Birthday" value="" minlength="2" required="" aria-required="true" class="full-width"/>
      </div>

      <div class="form-field">
        <select id="slcPais" name="slcPais" title="Coach's Country" value="" minlength="1" required="" aria-required="true" class="full-width">
          <option value="1">Uno</option>
          <option value="2">Dos</option>
          <option value="3">Tres</option>
        </select>
      </div>

      <div class="form-field">
         <label class="input" style="position: initial;padding: 2em 0 0 1em; cursor:pointer;" >
           <span id="fileName">Select a Picture</span>
           <input type="file" name="archivo" id="archivo" size="48" required="" aria-required="true" class="full-width" />
         </label>
      </div>

      <div class="form-field">
          <!--<button class="full-width btn--primary" id="btnNew" name="btnNew" onclick="javascript:createNew()">Create</button>-->
          <div class="submit-loader">
              <div class="text-loader">Creating...</div>
              <div class="s-loader">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
              </div>
          </div>
          <input type="button" id="btnNew" name="btnNew" onclick="createNew2()" value="create"/>
      </div>
    </fieldset>
  </form>
{% endblock %}



{% block warningContent %}
  Something went wrong :( ... Please try again.
{% endblock %}


{% block successContent %}
  Your coach was crated, cool!
  <a href='./coaches'> Go back.</a>
{% endblock %}




{% block javascript %}
<script src="../static/js/templates/artists.js"></script>
{% endblock %}
