{% extends "base.html" %}

{% block title %}
Players
{% endblock %}

{% block titleinside %}
Players
{% endblock %}

{% block navbar %}
<li><a class=""  href="./coaches" title="coaches">Coaches</a></li>
<li><a class=""  href="./competitions" title="competitions">Competitions</a></li>
<li><a class=""  href="./matches" title="matches">Matches</a></li>
<li><a class=""  href="./players" title="players">Players</a></li>
<li><a class=""  href="./stadiums" title="stadiums">Stadiums</a></li>
<li><a class=""  href="./teams" title="teams">Teams</a></li>
{% endblock %}



{% block content %}
<ul id="categories" class="clr">


</ul>
{% endblock %}



{% block warningContent %}

{% endblock %}


{% block successContent %}

{% endblock %}


{% block javascript %}
<script src="../static/js/players.js"></script>
{% endblock %}
