{% extends "base.html" %}

{% block variables %}
    <input type="text" style="display: none" id="playlist" name="playlist" value="{{ playlist }}" hidden/>
    <input type="text" style="display: none" id="user" name="user" value="{{ request.session.USERR }}" hidden/>
{% endblock %}

{% block stylesheet %}
    <style>
        tbody{
            font-family: "montserrat-light", sans-serif;
        }
        .hoover:hover{
            color: #FFFFFF;
            cursor: pointer;
        }
        .hoover{
            font-size: 1.8em;
        }
        .marginn{
            margin-top: 1.0em;
            margin-bottom: 1.0em;
        }

        tbody tr:hover {
            -moz-box-shadow: 0 4px 2px 3px rgba(0, 0, 0, 0.5) ;
            -webkit-box-shadow: 0 4px 2px 3px rgba(0, 0, 0, 0.5) ;
            box-shadow: 0 4px 2px 3px rgba(0, 0, 0, 0.5);

            background-color: #EFC20B;
            color: #EA011E;

        }

        td, th{
            border-bottom: 0;
        }


        tr th{
            color: #44CAA8;
        }

        .add{
            cursor: pointer;
        }

        .add:hover{
            background-color: #0B14B0;
            color: #FFF;
        }

        .content{
            width: 100%;
            background: #0f0f0f;
            text-align: center;
            font-size: 4em;
            color: #333333;
        }

    </style>
{% endblock %}

{% block title %}
    {{ name }}
{% endblock %}

{% block titleinside %}
    {{ name }}
{% endblock %}



{% block navbar %}
    <li><a class=""  href="./artists" title="Artists">Artists</a></li>
    <li><a class=""  href="./albums" title="competitions">Albums</a></li>
    <li><a class=""  href="./matches" title="matches">Songs</a></li>
    <li><a class=""  href="./myplaylists" title="matches">Playlists</a></li>
    <li><a class=""  href="./players" title="players">Find</a></li>
    <li><a class="" href="./profile" title="profile">{{ request.session.NAME }}</a></li>
                        <li><a class="" href="./LogOut" title="LogOut">Log Out</a></li>
{% endblock %}

{% block content %}
<div class="row" style="width: 100%;">
    <div class="col-md-5">
{#        <img src="{{ photo }}" alt=""/>#}
        <div class="content">
            <i class="fa fa-5x fa-volume-up"></i>
        </div>
        <h3>Created: {{ realsedate }}</h3>
        {% if user == request.session.USERR %}
            <input type="button" onclick="delPlaylist()" id="delBtn" name="delBtn" value="Delete" class="btn--primary">
        {% endif %}

    </div>
    <div class="col-md-7">
        <table id="songs" name="songs">
            <thead>
                <tr>
                    <th>#</th>
                    <th>TITLE</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block controls %}

{% endblock %}


{% block javascript %}
<script src="../static/js/templates/playlist.js"></script>
{% endblock %}