{% extends "base.html" %}

{% block variables %}
    <input type="text" style="display: none" id="user" name="user" value="{{ user }}" hidden/>
{% endblock %}

{% block stylesheet %}
    <style>
        .hoover:hover{
            color: #FFFFFF;
            cursor: pointer;
        }
        .hoover{
            font-size: 1.8em;
        }
        .marginn{
            margin-top: 1.0em;
            margin-bottom: 1.0em;
        }
    </style>
{% endblock %}

{% block title %}
    {{ name }}
{% endblock %}

{% block titleinside %}
    {{ name }}
{% endblock %}

{% block navbar %}
<li><a class=""  href="./artists" title="Artists">Artists</a></li>
<li><a class=""  href="./albums" title="competitions">Albums</a></li>
<li><a class=""  href="./matches" title="matches">Songs</a></li>
<li><a class=""  href="./myplaylists" title="matches">Playlists</a></li>
<li><a class=""  href="./players" title="players">Find</a></li>
    <li><a class="" href="./profile" title="profile">{{ request.session.NAME }}</a></li>
                        <li><a class="" href="./LogOut" title="LogOut">Log Out</a></li>
{% endblock %}

{% block content %}
    <div class="row" style="width: 100%;">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <img src="../static/files/profiles/{{ photo }}" alt=""/>
        {% if type_ == 3 %}
            <input type="button" onclick="" id="updateType" name="updateType" value="Get Membership" class="btn--primary">
        {% elif type_ == 2 %}
            <input type="button" onclick="" id="downType" name="downType" value="Cancel Membership" class="btn--primary">
        {% endif %}
    </div>
    <div class="col-md-5">
        <h2 class="marginn">Birthdate:</h2>
        <h2 class="marginn" style="color: #ffffff">{{ birthdate }}</h2>
        <h2 class="marginn">Country:</h2>
        <h2 class="marginn" style="color: #ffffff">{{ pais }}</h2>
        <h2 class="marginn">Account Type:</h2>
        <h2 class="marginn" style="color: #ffffff">{{ type }}</h2>
        <input type="button" onclick="" id="updateProfile" name="updateProfile" value="Update Profile" class="btn--primary">
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}

{% block javascript %}
<script src="../static/js/templates/profile.js"></script>
{% endblock %}