   {% extends "base.html" %}

{% block stylesheet %}
    <style>
        .hoover:hover{
            color: #FFFFFF;
            cursor: pointer;
        }
        .hoover{
            font-size: 1.8em;
        }

        a{
            color: #EFC20B;
        }

        a:hover{
            color: #EA011E;
        }
    </style>
{% endblock %}

{% block title %}
    Account Verified
{% endblock %}
{% block titleinside %}
    Account Verified
{% endblock %}

{% block content %}
    <h1 style="color: #FFF;">Your account has been Verified. <a href="./#contact">Log In</a></h1>

    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <button class="btn--primary" onclick="javascript:redirect();">Go Back</button>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="../static/js/templates/artists.js"></script>
    <script>
      function redirect(){
        location.href = "./";
      }
    </script>
{% endblock %}